
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>GIỚI THIỆU</h2>
                    <div class="breadcrumb__option">
                        <a href="~/">Trang chủ</a>
                        <span>Giới thiệu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->>

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Tại sao nên chọn BookShop?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Hỗ trợ 24/7</h4>
                    <p>Giải đáp mọi thắc mắc của bạn</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="fa fa-truck" aria-hidden="true"></span>
                    <h4>Vận chuyển nhanh</h4>
                    <p>Giao hàng nhanh, chi phí hợp lý</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="fa fa-shopping-bag"></span>
                    <h4>Dễ dàng mua sắm</h4>
                    <p>Đa dạng sách, thanh toán nhanh chóng</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="fa fa-retweet"></span>
                    <h4>Đổi trả miễn phí</h4>
                    <p>Hỗ trợ đổi, trả sách nếu lỗi</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->   