@model IEnumerable<BookShop.ViewModels.Menu>
@foreach (var item in Model)
{
    <li>
        <div class="d-flex justify-content-between fruite-name">
        <a asp-controller="Shop" asp-action="Shop" asp-route-categoryId="@item.Id">@item.Name</a>
    </div>
    </li>
}
