@model IEnumerable<BookShop.ViewModels.Menu>
@foreach (var item in Model)
{
        <li>
            <div class="d-flex justify-content-between fruite-name">
                <a href="#">@item.Name</a>            
            </div>
        </li>
}
